
.header {
  background: url("../img/bg-1.png") no-repeat 0 0 / cover;
  min-height: auto;
  padding: 100px 0;
}

.header__inner {
  display: flex;
  flex-direction: row;
}
.logo {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 40px;
  img{
    width: 250px;
    height: auto;
  }
}

.header__content {
  max-width: 566px;
  width: 100% !important;
  padding: 0 15px;
}

.header__title {
  margin-top: 24px;
  margin-bottom: 12px;
  color: #fff;
  text-align: center;
  padding: 0 15px;
  h1 {
    font-family: "GLYPHICONS Halflings", sans-serif;
    font-size: 44px;
    font-weight: 500;
    line-height: 1.1;
    margin: 0;
  }
}

.header__text {
  text-align: center;
  span {
    font-size: 20px;
    font-weight: 200;
    color: #fff;
    font-family: "GLYPHICONS Halflings", sans-serif;
    line-height: 1.4;
  }
}

.header__img {
  max-width: 404px;
  text-align: center;
  width: 100%;
  figure{
    margin: 0;
  }
    img {
      max-width: 320px !important;
      max-height: 547px;
      margin: 0;
    }
}
.header__btn{
  text-align: center;
  margin-top: 40px;
  margin-bottom: 20px;
  a{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    background: #dc554f;
    width: 180px;
    height: 54px;
    margin: 0 auto;
    &:hover{
      background: #cf3029;
      transition: 0.5s;
    }
    img{
      width: 180px;
      height: 54px;
    }
  }
}